@model ShopCartViewModel
<div class="container">
    @foreach (var el in Model.ShopCart.ListItems)
    {
        <div class="alert alert-warning mt-3">
            <b>Ноутбук:</b> @el.Laptop.Name<br />
            <b>Цена:</b> @el.Laptop.Price.ToString("C")
        </div>
    }
    <hr />
    <a class="btn btn-danger" asp-controller="Order" asp-action="Checkout"> Оплата</a>
</div>